{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'baseAdmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <hr>
    <hr>
    <hr>
    <div class="container">

        <div class="header">
            <h2>Fill {{ formName }} details</h2>

        </div>
        <hr>
        <section>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flashMessage }}
                </div>
                <hr>
            {% endfor %}


            <div class="row">
                <div class="col-lg-12">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}