{% extends 'baseAdmin.html.twig' %}
{% block body %}
//slider
	<div class="container">


		<br>

		<div id="screenshot-carousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="{{ asset('bundles/app/images/1.jpg') }}" alt="Chania">
					<div class="carousel-caption">
						<h3>all are connected</h3>
					</div>
				</div>

				<div class="item">
					<img src="{{ asset('bundles/app/images/2.jpg') }}" alt="Chania" >
					<div class="carousel-caption">
						<h3>continuous update</h3>
					</div>
				</div>

				<div class="item">
					<img src="{{ asset('bundles/app/images/3.jpg') }}" alt="Flower" >
					<div class="carousel-caption">
						<h3>Alarm on unallowed reading</h3>
					</div>
				</div>

				<div class="item">
					<img src="{{ asset('bundles/app/images/4.jpg') }}" alt="Flower">
					<div class="carousel-caption">
						<h3>Maintain all details</h3>
					</div>
				</div>
			</div>
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			<script>
				$('#screenshot-carousel').carousel({
					interval: 8000
				});
			</script>
		</div>
	</div>
<!--	//footer-->
<!--	//contact-->
	<div class="page-header" id="contact">
	</div><!-- End Page Header -->

	<div class="container">
		<section>
			<div class="row">
				<div class="col-lg-4">
					<p>Send us a message, or contact us from the address below</p>


					<address>
						<strong>Info Tech Pvt Ltd.</strong></br>
						University of moratuwa</br>
						katubedda</br>
						Tel: +94771224344
					</address>
				</div>

				<div class="col-lg-8">
					<form action="" class="form-horizontal">
						<div class="form-group">
							<label for="user-name" class="col-lg-2 control-label">Name</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="user-name" placeholder="Enter you name">
							</div>
						</div><!-- End form group -->

						<div class="form-group">
							<label for="user-email" class="col-lg-2 control-label">Email</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="user-email" placeholder="Enter you Email Address">
							</div>
						</div><!-- End form group -->

						<div class="form-group">
							<label for="user-message" class="col-lg-2 control-label">Any Message</label>
							<div class="col-lg-10">
                  <textarea name="user-message" id="user-message" class="form-control"
							cols="20" rows="10" placeholder="Enter your Message"></textarea>
							</div>
						</div><!-- End form group -->

						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>



					</form>
				</div>
			</div><!-- End the row -->

		</section>
	</div>

{% endblock %}
