{% extends 'baseAdmin.html.twig' %}
{% block search %}
    {#for search#}
    <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" method="post" action="{{ path('searchAction', { 'table':tableName}) }}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search_box" id="search_box">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" name="submit" onClick="return empty()"><i class="glyphicon glyphicon-search" ></i></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block body %}
    <hr>
    <hr>
    <hr>
    <div class="container">

        {% set foo = "hi" %}
        <div class="header">
            <h2>{{ tableName }} table</h2>
            <h4>Sort By  :
                {% for sort in sortBy %}
                    <a>|</a>
                    <a href="{{path(url,{ 'sort':sort})}}">{{ sort }}</a>
                {% endfor %}
            </h4>
        </div>


        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flashMessage }}
            </div>
            <hr>
        {% endfor %}

        <hr>
        <table class="table table-bordered">
            <thead>
            <tr>
                {% for item in tableHeader %}
                    <th>{{ item }}</th>
                {% endfor %}
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {%for i in range(0,tableData|length -1)%}
                <tr>
                    {% for data in tableData[i] %}
                        <td>{{ data|raw }}</td>
                    {% endfor %}
                    <td>
                        <a type="button" class="btn btn-default" onclick="{% set foo = tableData[i][0] %} " data-toggle="modal" data-target="#DelDialog">Delete</a>
                    </td>
                </tr>
            {% endfor %}

                {#this is for popup#}
                <!-- Modal -->
                <div class="modal fade" id="DelDialog" role="dialog">
                    <div class="modal-dialog">
                        {#<!-- Modal content--> pop up#}
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Warning</h4>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to delete ?</p>
                                {#<input type="text" name="id" id="id" value=""/>#}
                            </div>
                            <div class="modal-footer">
                                 <a type="button" class="btn btn-default" href="{{ path('deleteAction', { 'table':tableName,'id': foo }) }} ">Delete</a>
                                <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

            </tbody>
        </table>



    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function empty() {
            var x;
            x = document.getElementById("search_box").value;
            if (x == "") {
                alert("Enter a Valid Roll Number");
                return false;
            }
        }
    </script>
{% endblock %}