<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Enviromental Monitoring System</title>
    <meta name="description" content="EMS App">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <style>
    mark {
    background-color: red;
    font-weight: normal;
    font-style: normal;
    }
    </style>

</head>



<body>
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="" class="navbar-brand">Enviromental Monitoring System</a>
        </div><!-- Navbar Header-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            {% block search %}
            {% endblock %}
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="{{path('adminHome')}}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reading
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('datasheet') }}">Datasheet</a></li>
                        <li><a href="{{path('viewGraphLocation')}}">Graph</a></li>
                        <li><a href="#">Reports</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">View
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('displayUser')}}">Users</a></li>
                        <li><a href="{{path('displaySensor')}}">Sensors</a></li>
                        <li><a href="{{path('displayLocation')}}">Locations</a></li>
                        <li><a href="{{path('displayParameter')}}">Parameters</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('createUser')}}">Add User</a></li>
                        <li><a href="{{path('createSensor')}}">Add Sensor</a></li>
                        <li><a href="{{path('createLocation')}}">Add Location</a></li>
                        <li><a href="{{path('createParameter')}}">Add Parameter</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{path('displayAlarm',{ 'sort':'alarm_id' })}}" >
                        <span class="label">{{alarm_count}}</span>
                        <i class="nav-icon fa fa-bullhorn"></i>
                        <span class="small-screen-text">Alarms</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           {{ app.user.username }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('changeAdminPassword')}}">Change Password</a></li>
                        <li><a href="{{path('logout')}}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- End Container-->
</nav><!-- End navbar -->

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}


    </div>


    <!--footer-->
    <footer>
        <div class="container text-center">
            <br>

            <p>&copy; Copyright @ 2015</p>

        </div><!-- end Container-->
    </footer>

</body>

</html>
