<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
        <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="" class="navbar-brand">Enviromental Monitoring System</a>
            </div><!-- Navbar Header-->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ path('maintainHome') }}">Home</a></li>
                    <li>
                        <a href="{{path('displayMaintAlarm',{ 'sort':'alarm_id' })}}" >
                            <span class="label">{{alarm_count}}</span>
                            <i class="nav-icon fa fa-bullhorn"></i>
                            <span class="small-screen-text">Alarms</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ app.user.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('changeMaintPassword')}}">Change Password</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- End Container-->
    </nav><!-- End navbar -->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <!--	//footer-->
    <!--	//contact-->
    <div class="page-header" id="contact">
    </div><!-- End Page Header -->


    <!--footer-->
    <footer>
        <div class="container text-center">
            <hr>

            <p>&copy; Copyright @ 2015</p>

        </div><!-- end Container-->

    </footer>
    </body>
</html>
