{% extends 'baseAdmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datetimepicker.min.css') }}">
    <br>
    <br>
    <br>
    <br>
    <div class="container" id="container">
        <h2>Datasheet</h2>
        <br>
        <br>
                <form class="form-horizontal" action="" method="post" name="datasheetForm">
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="email">Parameter:</label>
                        <div class="col-lg-10">
                            <label class="checkbox-inline"><input type="checkbox" checked="true" value="all" name="parameter" id="allCheckboxParameter" onclick="if(this.checked){uncheckAll('allCheckboxParameter','parameter')}">All</label>
                            {% for item in parameter %}
                                <label class="checkbox-inline"><input type="checkbox" value="{{ item }}" name="parameter" onclick="if(this.checked){disableAll('allCheckboxParameter')}">{{ item }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="email">Location:</label>
                        <div class="col-lg-10">
                            <label class="checkbox-inline"><input type="checkbox" value="all" checked="true" id="allCheckboxLocation" name="location" onclick="if(this.checked){uncheckAll('allCheckboxLocation','location')}" >All</label>
                            {% for item in location %}
                                <label class="checkbox-inline"><input type="checkbox" value="{{ item }}" name="location" onclick="if(this.checked){disableAll('allCheckboxLocation')}" >{{ item }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="email">Date Range:</label>
                        <div class="col-lg-10">
                            <label class="radio-inline"><input type="radio" name="isDateRange" value="yes" onclick="showDate()" >Yes</label>
                            <label class="radio-inline"><input type="radio" name="isDateRange" value="no" checked="true" onclick="showDate()" >No</label>
                        </div>
                    </div>
                    <div class="form-group" id="fromDiv" style="display:none" >
                        <label class="control-label col-lg-2" for="email">From:</label>
                        <div class='input-group date' id='datetimepickerFrom'>
                            <input type='text' class="form-control" id="fromDate" disabled/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepickerFrom').datetimepicker({
                                    format:'YYYY-MM-DD H:mm:ss'
                                });
                            });
                        </script>
                    </div>
                    <div class="form-group" id="toDiv" style="display:none">
                        <label class="control-label col-lg-2" for="email">To:</label>
                        <div class='input-group date' id='datetimepickerTo'>
                            <input type='text' class="form-control" id="toDate" disabled/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepickerTo').datetimepicker({
                                    format:'YYYY-MM-DD H:mm:ss'
                                });
                            });
                        </script>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" class="btn btn-success btn-sm" id="btnSubmit">submit</button>
                        </div>
                    </div>
                </form>
        <button type="button" class="btn btn-success btn-sm" id="pdf create" onclick="{{ path('createPdf') }}">Save as pdf</button>
                {#<div id="forTable">#}
                    {#<table class="table table-bordered table-hover" id="tab_logic">#}

                    {#</table>#}
                {#</div>#}
            </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function showDate() {
            var fromDatePicker = document.getElementById("fromDiv");
            var toDatePicker = document.getElementById("toDiv");
            var option = document.querySelector('input[name = "isDateRange"]:checked').value;
            if (option === 'yes') {
                toDatePicker.style.display = 'inline-block';
                fromDatePicker.style.display = 'inline-block';
            }
            else{
                toDatePicker.style.display = 'none';
                fromDatePicker.style.display = 'none';
            }
        }
        jQuery(function () {
            jQuery('#datetimepickerFrom').datetimepicker({ format: 'dd-MM-yyyy hh:mm:ss' });
            jQuery('#datetimepickerTo').datetimepicker({ format: 'dd-MM-yyyy hh:mm:ss' });
            jQuery("#datetimepickerFrom").on("dp.change",function (e) {
                jQuery('#datetimepickerTo').data("DateTimePicker").setMinDate(e.date);
            });
            jQuery("#datetimepickerTo").on("dp.change",function (e) {
                jQuery('#datetimepickerFrom').data("DateTimePicker").setMaxDate(e.date);
            });
        });
        function disableAll(allCheckBoxName){
            var allCheckbox = document.getElementById(allCheckBoxName);
            allCheckbox.checked = false;
        }
        function uncheckAll(allCheckBoxName,checkBoxName){
            var allCheckbox = document.getElementById(allCheckBoxName);
            var checkBoxes = document.getElementsByName(checkBoxName);
            for(var i = 1; i < checkBoxes.length ;i++){
                checkBoxes[i].checked = false;
            }
        }
        $('#btnSubmit').click(function() {
            var parameter = [];
            var location = [];
            $("input:checkbox[name=parameter]:checked").each(function(){
                parameter.push($(this).val());
            });
            $("input:checkbox[name=location]:checked").each(function(){
                location.push($(this).val());
            });
            var isDateRadio = $("input:radio[name=isDateRange]:checked").val();
            var dateRange = [];
            if(isDateRadio === "yes"){
                dateRange.push(document.getElementById('fromDate').value);
                dateRange.push(document.getElementById('toDate').value);
            }
            var arr = {parameter:JSON.stringify(parameter),location:JSON.stringify(location),isDate:isDateRadio,dateRange:JSON.stringify(dateRange)};
            $.ajax({
                type: "POST",
                url: "{{ path('datasheetProcessed') }}",
                data:JSON.stringify(arr),
                dataType: "json",
                success: function(data) {
                    var tableHeader = JSON.parse(JSON.stringify(data.tableHeader));
                    var tableData = JSON.parse(JSON.stringify(data.tableData));
                    $("#forTable").remove();
                    $('#container').append('<div id="forTable"> <table class="table table-bordered table-hover" id="tab_logic"> </table> </div>');
                        $( "#forTable table" ).append( "<thead>" );
                            $( "#forTable table thead" ).append( "<tr>" );
                                for(var i = 0;i < tableHeader.length;i++){
                                    $( "#forTable table thead tr" ).append( '<td>'+tableHeader[i]+'</td>' );
                                }
                            $( "#forTable table thead" ).append( "</tr>" );
                        $( "#forTable table" ).append( "</thead>" );
                        $( "#forTable table" ).append( "<tbody>" );
                            for(var i = 0;i < tableData.length;i++) {
                                $("#forTable table tbody").append("<tr>");
                                for (var j = 0; j < tableData[i].length; j++) {
                                    $("#forTable table tr:last").append('<td>' + tableData[i][j] + '</td>');
                                }
                                $("#forTable table tbody").append("</tr>");
                            }
                        $( "#forTable table" ).append( "</tbody>" );
                }
            });
        });
    </script>
{% endblock %}
