{% extends 'baseAdmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>


    <div class="container">

        <div class="header">
            {#<h2>{{ tableName }} table</h2>#}

            <h4>Location:
                <a href="{{path(url,{ 'locationId':'0','parameterId':parameterId,'year':year})}}">All</a>
                {% for loc in locations %}
                    <a>|</a>
                    <a href="{{path(url,{ 'locationId':loc['location_id'],'parameterId':parameterId,'year':year})}}">{{ loc['location_name'] }}</a>
                {% endfor %}
            </h4>
            <hr>
            <h4>Parameter:
                {% for par in parameters %}
                    <a>|</a>
                    <a href="{{path(url,{ 'locationId':locationId,'parameterId':par['parameter_id'],'year':year})}}">{{ par['parameter_name'] }}</a>
                {% endfor %}
            </h4>
            <hr>
            <h4>Year:
                {% for y in years %}
                    <a>|</a>
                    <a href="{{path(url,{ 'locationId':locationId,'parameterId':parameterId,'year':y['year']})}}">{{ y['year'] }}</a>
                {% endfor %}
            </h4>
        </div>

        <hr>




        <script src="{{ asset('bundles/app/js/exporting.js') }}"></script>
        <script src="{{ asset('bundles/app/js/highcharts.js') }}"></script>
        <script type="text/javascript">
            {{ chart(chart) }}
        </script>

        <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
{% endblock %}