{% extends 'baseMaintanance.html.twig' %}
{% block search %}
    <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" method="post" action="{{ path('searchAction', { 'table':tableName}) }} ">
            <div class="input-group">
                <input type="text" class="form-control"  name="search_box" id="search_box" />
                <div class="input-group-btn">
                    <button type="submit" name="submit" class="btn btn-default"  onClick="return empty()" ><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <div class="container">


        <div class="header">
            <h2>{{ tableName }} table</h2>
            <h4>Sort By  :
                {% for sort in sortBy %}
                    <a href="{{path(url,{ 'sort':sort})}}">|{{ sort }}</a>
                {% endfor %}
            </h4>
        </div>

        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                {% for item in tableHeader %}
                    <th>{{ item }}</th>
                {% endfor %}
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in tableData %}
                <tr class="{{ item[0] }}">
                    {% for data in item[1:] %}
                        <td>{{ data|raw }}</td>
                    {% endfor %}
                    <td>
                        {% if item[0]=='danger' %}
                            <a href="{{ path('maintainReport',{'id':item[1]}) }}">Resolve</a>
                        {% else %}
                            Solved
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function empty() {
            var x;
            x = document.getElementById("search_box").value;
            if (x == "") {
                alert("Enter a Valid Roll Number");
                return false;
            }
        }
    </script>
{% endblock %}