{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'baseMaintanance.html.twig' %}

{% block title %}Create Maintanance report{% endblock %}

{% block body %}
    <hr>
    <hr>
    <hr>
    <div class="container">
        <div class="header">
            <h2>{{ formName }} form</h2>
        </div>
        <section>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}