{% extends 'baseMaintanance.html.twig' %}
{% block body %}
    <hr>
    <hr>
    <hr>
    <div class="container">


        <div class="header">
            <h2>{{ formName }}</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <table class="table">
                    <tbody>
                    {% for i in range(0,key|length -1) %}
                        <tr>
                            <td>{{ key[i] }}</td>
                            <td>{{ value[i] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6" >
                <img src="{{ asset('bundles/app/images/success.png') }}" class="img-rounded" width="304" height="100">
            </div>
        </div>

        <div class="row">
            <a type="button" class="btn btn-success center-block" href="{{path('maintainHome')}}">ok</a>
        </div>

    </div>
{% endblock %}