.image {
	/*background: no-repeat center center fixed;*/
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: cover;*/
	background: no-repeat fixed right top;
}

.logindiv {
	opacity: 0.9;
	margin-top:60px;
	margin-right: 10px;
}
/*.form-group.last { margin-bottom:0px; }*/