
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMS Login form</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}">


    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
</head>
<body  >



<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="" class="navbar-brand">Enviromental Monitoring System</a>
        </div><!-- Navbar Header-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="aboutus">About us</a></li>
            </ul>
        </div>
    </div><!-- End Container-->
</nav><!-- End navbar -->
<div class="container" id="logindiv">
    <br>
    <br>
    <br>
    <div class="row" >
        <div class="col-lg-8" id="image" >
                <img class="col-lg-12" src="{{ asset('bundles/app/images/EMS-Architecture.jpg') }}">
        </div>
        <div class="col-lg-4 ">
            <br>
            <br>
            <br>
            {% if error %}
                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <br>
            <br>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Login</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
                        <div class="form-group">
                            {#<label for="inputEmail3" class="col-sm-4 control-label">User Name</label>#}
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="User Name..." required>
                            </div>
                        </div>
                        <div class="form-group">
                            {#<label for="inputPassword3" class="col-sm-4 control-label">Password</label>#}
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="password" name="_password" placeholder="Password..." required>
                            </div>
                        </div>
                        {#<div class="form-group">#}
                            {#<div class="col-sm-offset-3 col-sm-9">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input type="checkbox"/>#}
                                        {#Remember me#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        <div class="form-group last">
                            <div class="col-sm-offset-4 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">
                                    Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

